# Terraform state and config
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars

# GCP service account keys
*key.json

# Editor and OS artifacts
.DS_Store
.vscode/
.idea/

# Sensitive vars
secret.env

# Opencode
opencode.*
.opencode/
